<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="icon" type="image/x-icon" href="{{ "/favicon.ico" | prepend: site.baseurl }}" />
  <link rel="icon" type="image/png" href="{{ "/assets/images/global/favicon.png" | prepend: site.baseurl }}" />

  <link rel="apple-touch-icon" href="{{ "/assets/images/global/favicon.png" | prepend: site.baseurl }}">
  <link rel="apple-touch-icon" sizes="76x76" href="{{ "/assets/images/global/favicon-76x76.png" | prepend: site.baseurl }}">
  <link rel="apple-touch-icon" sizes="120x120" href="{{ "/assets/images/global/favicon-120x120.png" | prepend: site.baseurl }}">
  <link rel="apple-touch-icon" sizes="152x152" href="{{ "/assets/images/global/favicon-152x152.png" | prepend: site.baseurl }}">

  <link rel="stylesheet" href="{{ "/css/main.css?v=" | prepend: site.baseurl }}{{ site.version }}">

  <script async type="text/javascript" src="https://fast.fonts.net/jsapi/be2d2136-cf74-476e-aafc-c7314ccadec0.js"></script>

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
  <meta name="google-site-verification" content="xpjXrm3CsHiF-fwcdmQMR_Lv3srbrBrwnqqxRkyJUDc" />
  <link href="https://micro.blog/joernba" rel="me" />
</head>
