// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
form {
  margin-top: $pad;
}
input,
textarea,
select,
button {
  @extend %font-sans;
  display: block;
  max-width: 100%;
  padding: .55 * $pad;
}

label {
  display: block;
  margin-bottom: .82 * $pad;
}

input[type="submit"],
input[type="reset"],
button {
  background: darken($white, 5);
  border-radius: .5 * $pad;
  color: darken($c-green-dark, 25);
  cursor: pointer;
  display: inline;
  margin-bottom: $pad;
  margin-right: .4 * $pad;
  padding: .3625 * $pad 1.3 * $pad;
  text-align: center;

  &:hover {
    background: darken($white, 15);
    color: $black;
  }

  &[disabled] {
    background: darken($white, 10);
    color: darken($c-green-dark, 10);
    cursor: not-allowed;
  }

}

input[type="submit"],
button[type="submit"] {
  background: $highlight-color;
  color: $white;

  &:hover {
    background: darken($highlight-color, 15);
    color: darken($white, 25);
  }

}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="phone"],
input[type="tel"],
input[type="number"],
input[type="datetime"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="color"],
input[type="time"],
input[type="search"],
input[type="range"],
input[type="file"],
input[type="datetime-local"],
select,
textarea {
  border: 1px solid $c-green-dark;
  margin-bottom: $pad;
  padding: .3 * $pad .35 * $pad;
}

input[type="checkbox"],
input[type="radio"] {
  float: left;
  line-height: 2 * $pad;
  margin-right: .5 * $pad;
  margin-top: .45 * $pad;
}
