.post-list {
  min-height: 60px;
  margin: 0 auto;
  max-width: 450px;
  width: 84%;
  li {
    position: relative;
    display: block;
    height: 100%;
    text-align: center;
    & :not(img) {
      text-align: left;
    }
    img {
      margin-top: 40px;
      @include media(not-large) {
        padding: 0 1em;
      }
      @include media(mobile-only) {
        margin-top: 1em;
      }
    }
    .post-content {

    }
    @include media(mobile-only) {
      height: auto;
    }
  }
}
